{% extends "layout.html" %}

{% block page_title %}
  Before you start
{% endblock %}

{% block beforeContent %}
  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Understanding the company's responsibilities
      </h1>
      <h3 class="govuk-heading-m">Who to tell about your company closing</h3>
      <p class="govuk-body">A company must inform all interested parties that it is going to close. All interested parties must be informed within 7 days of the application being submitted.
        <br>Interested parties may include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>members, usually shareholders</li>
        <li>creditors</li>
        <li>employees</li>
      </ul>
      <p>
        Read the full list of
        <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration-gp4#how-to-apply-for-strike-off-and-who-to-tell">who to tell<span class="visuallyhidden">
            about your company closing</span>
        </a>.
      </p>
      {{ govukWarningText({
        text: "It is an offence not to tell all interested parties",
        iconFallbackText: "Warning"
      }) }}
      <div class="form-group">
        <form>
          <fieldset>
            <div class="multiple-choice">
              <input id="declaration" name="waste-types" type="checkbox" value="">
              <label for="declaration">The company understands that it is responsible for notifying all interested parties</label>
            </div>
          </fieldset>
        </form>
      </div>
      {{ govukButton({
  text: "Continue",
  href: "/forms/sign-in"
}) }}
    </div>
  </div>
</main>

{% endblock %}