{% extends "layout.html" %}

{% block pageTitle %}
Application status - Apply to strike off and dissolve a company - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

<style type="text/css">
  .app-task-list strong {float:right;} //Adding this as style not working in prototype
  </style>

 <main id="content" role="main">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Application status
      </h1>

      <ul class="govuk-list govuk-!-margin-bottom-7">
        <li>
          <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-check-before-you-submit-alt">I want to edit this application</a>
        </li>
        <li>
          <a class="govuk-link" href="/forms/DS01/sole-director-v2/delete-application">I want to delete this application</a>
        </li>
      </ul>


      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section"><span class="app-task-list__section-number">1. </span> Sign the application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              Robin SMITH<br>rmsith@testcompany.co.uk

              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Signed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              Jane EVANS<br>jevans@testcompany.co.uk

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-completed">Needs to sign</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Mrs Lisa M TAYLOR<br>ltaylor2020@gmail.com<br>signing on behalf of Dr A WILLIAMS
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-completed">Needs to sign</strong>

            </li>


          </ul>
          <h2 class="app-task-list__section"><span class="app-task-list__section-number">2. </span> Payment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">Pay for application  </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-completed">Cannot start yet</strong>
            </li>

          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section"><span class="app-task-list__section-number">3. </span> Submit application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">Submit application</span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-completed">Cannot start yet</strong>
            </li>

          </ul>
        </li>

      </ol>






    </div>
  </div>
  </main>

{% endblock %}
