// global styles for <a> and <p> tags
$govuk-global-styles: true; // We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/'; // Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions"; // Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items"; // Components that aren't in Frontend
//@import "components/cookie-banner";
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-related-items {
  //margin-top: $gutter;
  //border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}
// Table styles

table {
  td,
  th {
    vertical-align: top;
  }
}

.wait-screen {
  text-align: center;
  width: 70%;
  margin: 0 15%;

  img {
    width: 48px;
  }
}
//Docusign Styles

.docusign {
  &.unsigned {
    background: url("/public/images/docusign-new-pdf.gif");
    background-size: cover;
    height: 1280px;
    position: relative;
    overflow: hidden;

    .add-sig-box {
      position: absolute;
      left: 437px;
      bottom: 385px;
    }

    .sign-tag {
      position: absolute;
      bottom: 397px;
      left: 15px;
    }

    .company-name {
      display: block;
      position: absolute;
      top: 348px;
      left: 355px;
      height: 50px;
      width: 600px;
      font-size: 0.8em;
    }

    .company-number {
      display: block;
      position: absolute;
      top: 371px;
      left: 355px;
      height: 50px;
      width: 600px;
      font-size: 0.8em;
    }

    .signature {
      display: none;
      position: absolute;
      bottom: 394px;
      left: 437px;
      height: 38px;
      width: 575px;
      padding-top: 12px;
      padding-left: 15px;
      background: url("/public/images/sig.png") top left no-repeat;
    }

    .signature-date {
      display: block;
      position: absolute;
      bottom: 330px;
      left: 551px;
      height: 50px;
      width: 300px;
      font-size: 0.8em;
    }

    .print-name {
      display: block;
      position: absolute;
      bottom: 346px;
      left: 199px;
      height: 85px;
      width: 230px;

      .on-behalf {
        font-size: 0.8em;
      }
    }

    .confirm-bar {
      width: 960px;
      height: 50px;
      position: absolute;
      bottom: -50px;
      left: 0;
      background: url("/public/images/confirm-bar.png");

      .conf-btn {
        position: absolute;
        top: 5px;
        left: 667px;
      }
    }

    .adopt {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.5);

      .adopt-window {
        display: none;
        position: absolute;
        top: 90px;
        left: 89px;
        width: 802px;
        height: 492px;
        background: url("/public/images/adopt-signature.jpg") top left no-repeat;
        box-shadow: 0 0 7px rgba(0,0,0,0.7);

        .name {
          position: absolute;
          top: 135px;
          left: 40px;
          font-size: 0.9em;
          //color: $grey-1;
        }

        .initial {
          position: absolute;
          top: 135px;
          left: 560px;
          font-size: 0.9em;
          //  color: $grey-1;
        }

        .adopt-signature {
          position: absolute;
          top: 282px;
          left: 90px;
          font-size: 1.25em;
          // font-weight: bold;
        }

        .sig-init {
          position: absolute;
          top: 282px;
          left: 530px;
          font-size: 1.25em;
          // font-weight: bold;
        }

        .adopt-button {
          position: absolute;
          top: 442px;
          left: 29px;
          //  background: $button-colour;
          border-radius: 3px;
          padding: 7px 25px;
          display: block;
          text-decoration: none;
          font-weight: bold;
          font-size: 0.7em;
          //  color: $white;
        }

        .cancel-button {
          position: absolute;
          top: 442px;
          left: 200px;
          // background: rgba(233, 233, 233, 1);
          border-radius: 3px;
          padding: 7px 25px;
          display: block;
          text-decoration: none;
          font-weight: bold;
          font-size: 0.7em;
          //    color: $black;
        }

        .close-button {
          position: absolute;
          top: 5px;
          right: 5px;
          display: block;
          height: 27px;
          width: 27px;
          background: rgba(0, 0 ,0, 0);
        }
      }
    }
  }
}

.status-box {
  //  background: $orange;
  text-align: center; //  color: $white;

  &.ready {
    //    background: $light-blue;
    //    color: $white;
  }

  .font-large {
    font-weight: bold;
  }
}