{% extends "layout.html" %}

{% block pageTitle %}
  Sign the application
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign the application</h1>

        <h1 class="govuk-heading-m">Apply to strike off and dissolve a company</h1>

        <form class="form" action="payment-review" method="get">

          <h2 class="govuk-heading-m">Company name: A TEST COMPANY LIMITED<br/>
            Company number: 01234567</h2>

          <div class="govuk-warning-text govuk-!-margin-top-9">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You must read the following statements.
            </strong>
          </div>

          <h3 class="govuk-heading-m">Important notice for all interested parties</h3>

          <p>The company has applied to be struck off and dissolved. The registrar will proceed unless there is a reasonable cause not to, and on dissolution any assets remaining in the company will be passed to the Crown.
            <a href="" target="_blank">Guidance is available on the grounds for rejection (opens in a new tab)</a>. If in doubt, seek professional advice.</p>

          <h3 class="govuk-heading-m">Declaration of directors</h3>

          <p>I/We as directors / the majority of directors apply for this company to be struck off the Register and declare that:

            <ol class="govuk-list govuk-list--number">
              <li> none of the circumstances described in
              <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1004" target="_blank">section 1004 of the Companies Act 2006 (opens in a new tab)
              </a>or
              <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1005" target="_blank">
                section 1005 of the Companies Act 2006 (opens in a new tab)</a>
              (being circumstances in which the directors would otherwise be prohibited under those sections from making an
            application) exists in relation to the company
            and</li>
                  <li>we have complied with the requirements of sections 1006 and 1007
            of the Act and have given/will give copies of the application to the
            people listed in those sections as required.</li>
            </ol>


          <h3 class="govuk-heading-m">By ticking this box you are signing the application</h3>

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {{ govukCheckboxes({
          idPrefix: "confirmStatements",
          name: "confirmStatements",
          fieldset: {
            legend: {
              text: "I confirm I have read the statements",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "checked",
              html: "I confirm I have read and understood the statements - signed <strong>Robin SMITH</strong> on <strong>3 December</strong>"
            }
          ]
        }) }}

          <!--<div class="govuk-form-group"> <label class="govuk-label" for="full-name"> Enter your name </label> <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false"> </div> <div
          class="govuk-form-group"> <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint"> <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> <p class="govuk-!-margin-bottom-2"> Enter today's date </p> </legend>
          <div class="govuk-date-input" id="passport-issued"> <div class="govuk-date-input__item"> <div class="govuk-form-group"> <label class="govuk-label govuk-date-input__label" for="passport-issued-day"> Day </label> <input class="govuk-input
          govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"> </div> </div> <div class="govuk-date-input__item"> <div class="govuk-form-group"> <label
          class="govuk-label govuk-date-input__label" for="passport-issued-month"> Month </label> <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*"
          inputmode="numeric"> </div> </div> <div class="govuk-date-input__item"> <div class="govuk-form-group"> <label class="govuk-label govuk-date-input__label" for="passport-issued-year"> Year </label> <input class="govuk-input govuk-date-input__input
          govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"> </div> </div> </div> </fieldset> </div>-->

          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

      </div>
    </div>

  {% endblock %}
