{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "#"
      }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your answers</h1>
        <h2 class="govuk-heading-l">
          A TEST COMPANY LIMITED
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              01234567
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              Active
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incorporation date
            </dt>
            <dd class="govuk-summary-list__value">
              13 May 2010
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Any Street<br>Anytown<br>London<br>AB12 3CD<br>United Kingdom
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">user@atestcompany.co.uk</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">
                  contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
        text: "Submit and pay",
        href: "payment-review"
      }) }}

      </div>
    </div>
  </main>

{% endblock %}