{% extends "layout.html" %}

{% block pageTitle %}
  You cannot close this company
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">View company information
        </h1>
        <h2 class="govuk-heading-l">A TEST COMPANY LIMITED cannot use this service
        </h2>
        <p class="govuk-body">This could be because the company:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>has no active directors or members</li>
          <li>is not active</li>
          <li>is not a limited or private limited company</li>
          <li>has already submitted an application to be struck off and dissolved</li>
        </ul>
        <h2 class="govuk-heading-l">
          A TEST COMPANY LIMITED
        </h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Company number</th>
              <td class="govuk-table__cell">{{ data['whichcompany-toclose'] }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Status</th>
              <td class="govuk-table__cell ">Active</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Incorporation date</th>
              <td class="govuk-table__cell ">13 May 2010</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Company type</th>
              <td class="govuk-table__cell ">Private Limited Company</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row" style="vertical-align: top;">Registered office address</th>
              <td class="govuk-table__cell ">1 Any Street<br>Anytown<br>London<br>AB12 3CD<br>United Kingdom
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <a href="/which-company-to-close">Choose a different company</a>
        </p>
        <p>
          <a href="confirm-the-company" style="color: #b1b4b6; float: right; font-size:12px">Can file</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}