{% extends "layout.html" %}

{% block pageTitle %}
  Robin SMITH needs to sign this application
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-before-you-submit-other-signer" method="get">

          <h1 class="govuk-heading-xl">Robin SMITH needs to sign this application</h1>

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
      label: {
              text: "What is Robin SMITH's email address?"
            },
            hint: {
              text: "We'll send an email to ask them to sign the application. "
            },
            id: "v2-behalf-director-email",
            name: "v2-behalf-director-email"
          }) }}

          <!-- {{ govukInput({ label: { text: "What is your name? (optional)" }, hint: { text: "We need this in case we need to contact you" }, id: "v2-behalf-contact-name", name: "v2-behalf-contact-name" }) }} {{ govukInput({ label: { text: "What is your
          phone number? (optional)" }, hint: { text: "We need this in case we need to contact you" }, id: "v2-behalf-contact-phone", name: "v2-behalf-contact-phone", type: "tel", autocomplete: "tel", classes: "govuk-input--width-20" }) }}-->
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
        text: "Continue"
      }) }}
        </form>

      </div>
    </div>
  </main>

{% endblock %}