{% extends "layout.html" %}

{% block pageTitle %}
  Confirm your payment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/forms/DS01/sole-director/confirmation" method="get" class="form">
        <h1 class="govuk-heading-l">
          Confirm your payment
        </h1>

        <h2 class="govuk-heading-m">Payment summary</h2>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Description"
              },
              value: {
                text: "Apply to strike off and dissolve a company "
              }
            },
            {
              key: {
                text: "Amount"
              },
              value: {
                text: "£8"
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Card details</h2>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Card number"
              },
              value: {
                text: "************5556"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                text: "10/20"
              }
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
              html: "Pay <strong>£8</strong> now"
            }) }}
        <p>
          <a href="#" class="govuk-link">Cancel payment</a>
        </p>

      </form>

    </div>
    <!--govuk-grid-row-->

    <!--govuk-grid-column-two-thirds-->
  </div>
  <!--govuk-grid-column-two-thirds-->

</main>
</div>
<!---govuk-width-container-->

{% endblock %}