{% extends "layout.html" %}

{% block pageTitle %}
  How do you want to pay for the application?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/payment" method="get">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "howPay",
            name: "howPay",
            fieldset: {
              legend: {
                text: "How do you want to pay for the application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "govpay",
              text: "Credit or debit card"
            },
            {
              value: "chaccount",
              text: "Companies House account"
            }

            ]
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
              text: "Confirm"
            }) }}

        </form>

      </div>
    </div>
  </main>

{% endblock %}
