{% extends "layout.html" %}

{% block pageTitle %}
  How will the directors be signing the application?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="" method="get">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {% set robinEmailHtml %}
          {{ govukInput({
            label: {
                    text: "What is Robin SMITH email address?"
                  },
                  hint: {
                    text: "We'll send an email to ask them to sign the application. "
                  },
                  id: "robin-smith-alt-email",
                  name: "robin-smith-alt-email"
                }) }}
          {% endset -%}

          {% set robinMethodHtml %}
          {{ govukInput({
          label: {
                  text: "Enter the name of the person authorised to sign on behalf of Robin SMITH"
                },
                id: "behalf-name-robinsmith",
                name: "behalf-name-robinsmith"
              }) }}

          {{ govukInput({
            label: {
                    text: "Email address"
                  },
                  hint: {
                    text: "We'll send an email to ask them to sign the application."
                  },
                  id: "behalf-email-robinsmith",
                  name: "behalf-email-drwilliams"
                }) }}
          {% endset -%}

          <h1 class="govuk-heading-xl">
            How will the directors be signing the application?
          </h1>

          <h2 class="govuk-heading-m">Robin SMITH</h2>

          <!--<h2 class="govuk-heading-m">Robin SMITH</h2>-->

          {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "robinSMITH",
                  name: "robinSMITH",
                  fieldset: {
                    legend: {
                      text: "Tell us about Robin SMITH",
                      isPageHeading: false,
                      classes: "govuk-visually-hidden"
                    }
                  },
                  items: [
                    {
                      value: "robinSMITHsign",
                      text: "Will sign",
                      conditional: {
                        html: robinEmailHtml
                      }
                    },
                    {
                      value: "robinSMITHsomeone",
                      text: "Someone will sign for them",
                      conditional: {
                        html: robinMethodHtml
                      }
                    }
                  ]
                }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
              text: "Confirm"
            }) }}

        </form>

      </div>
    </div>
  </main>

{% endblock %}