{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your answers</h1>

        <h2 class="govuk-heading-m">Robin SMITH</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will be signing
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <!--<dd class="govuk-summary-list__actions"> <a class="govuk-link" href="select-the-director"> Change<span class="govuk-visually-hidden"> name</span> </a> </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['signin-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#"> Change<span class="govuk-visually-hidden"> date of birth</span> </a>-->
            </dd>
          </div>
          <p class="govuk-!-margin-top-3">
            <a class="govuk-link" href="select-the-director">
              Change<span class="govuk-visually-hidden">
                name</span>
            </a>
          </dl>

          <h2 class="govuk-heading-m">Jane EVANS</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will be signing
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <!-- <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="forms/DS01/sole-director-v2/select-the-directors-method"> Change<span class="govuk-visually-hidden"> name</span> </a> </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['janeevans-email'] }}
              </dd>
              <!-- <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="#"> Change<span class="govuk-visually-hidden"> date of birth</span> </a> </dd>-->
            </div>
            <p class="govuk-!-margin-top-3">

              <a class="govuk-link check-answers-change" href="forms/DS01/sole-director-v2/select-the-directors-method">
                Change<span class="govuk-visually-hidden">
                  name</span>
              </a>
            </p>
          </dl>

          <h2 class="govuk-heading-m">Dr A WILLIAMS</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will be signing
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <!-- <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise"> Change<span class="govuk-visually-hidden"> Dr A WILLIAMS</span> </a> </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name of person signing
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['behalfnamedrwilliams'] }}
              </dd>
              <!-- <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise"> Change<span class="govuk-visually-hidden"> name of person signing</span> </a> </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address of person signing
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['behalfemaildrwilliams'] }}
              </dd>
              <!--<dd class="govuk-summary-list__actions"> <a class="govuk-link" href="forms/DS01/sole-director-v2/select-the-directors-method"> Change<span class="govuk-visually-hidden"> email address of person signing</span> </a> </dd>-->
            </div>
            <p class="govuk-!-margin-top-3">

              <a class="govuk-link check-answers-change" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise">
                Change<span class="govuk-visually-hidden">
                  Dr A WILLIAMS</span>
              </a>
            </p>
          </dl>

          <!-- <h2 class="govuk-heading-m">Claire WILLIAMS</h2> <dl class="govuk-summary-list govuk-!-margin-bottom-9"> <div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key"> Will be signing </dt> <dd class="govuk-summary-list__value"> No
          </dd> <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise"> Change<span class="govuk-visually-hidden"> previous application number</span> </a> </dd> </div> </dl> <h2
          class="govuk-heading-m">Simon Paul THOMAS</h2> <dl class="govuk-summary-list govuk-!-margin-bottom-9"> <div class="govuk-summary-list__row"> <dt class="govuk-summary-list__key"> Will be signing </dt> <dd class="govuk-summary-list__value"> No </dd>
          <dd class="govuk-summary-list__actions"> <a class="govuk-link" href="#"> Change<span class="govuk-visually-hidden"> previous application number</span> </a> </dd> </div> </dl>-->

          {{ govukButton({
              text: "Continue",
              href: "alternative-to-docusign"
            }) }}

        </div>
      </div>
    </main>

  {% endblock %}
