{% extends "layout.html" %}

{% block pageTitle %}
  Which director are you?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/select-the-directors-method-single" method="get">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "whichDirectorSingle",
            name: "whichDirectorSingle",
            fieldset: {
              legend: {
                text: "Which director are you?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "robinSmith",
              text: "Robin SMITH "
            },
            {
              divider: "or"
            },
            {
              value: "notDirector",
              text: "I am not a director of this company"
            }

            ]
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
              text: "Confirm"
            }) }}

        </form>
        <p>
          <a href="select-the-director" style="color: #b1b4b6; float: right; font-size:12px">Multi</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}