{% extends "layout.html" %}

{% block pageTitle %}
  Which other director(s) will be authorising the application?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/select-the-directors-method" method="get">

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "waste",
            name: "waste",
            fieldset: {
              legend: {
                text: "  Which other director(s) will be authorising the application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },

            items: [
              {
                value: "janeEvans",
                text: "Jane EVANS"
              },
              {
                value: "drAWilliams",
                text: "Dr A WILLIAMS"
              },
              {
                value: "claireWilliams",
                text: "Claire WILLIAMS"
              },
              {
                value: "simonPaulThomas",
                text: "Simon Paul THOMAS"
              }

            ]
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
              text: "Confirm"
            }) }}

          <!-- {% from "govuk/components/radios/macro.njk" import govukRadios %} {{ govukRadios({ idPrefix: "whichDirectorAreYou", name: "whichDirectorAreYou", fieldset: { legend: { text: "Which director are you?", isPageHeading: true, classes:
          "govuk-fieldset__legend--xl" } }, items: [ { value: "johnSmith", text: "Robin SMITH" }, { divider: "or" }, { value: "notDirector", text: "I am not a director of this company" } ] }) }} {{ govukButton({ text: "Confirm" }) }}-->

        </form>

      </div>
    </div>
  </main>

{% endblock %}