{% extends "layout.html" %}

{% block pageTitle %}
  Which director are you?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/select-the-director-to-authorise-alt" method="get">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "whichDirector",
            name: "whichDirector",
            fieldset: {
              legend: {
                text: "Which director are you?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
            {
              value: "robinSmith",
              text: "Robin SMITH "
            },
              {
                value: "janeEvans",
                text: "Jane EVANS"
              },
              {
                value: "drAWilliams",
                text: "Dr A WILLIAMS"
              },
              {
                value: "claireWilliams",
                text: "Claire WILLIAMS"
              },
              {
                value: "simonPaulThomas",
                text: "Simon Paul THOMAS"
              },
                {
                  divider: "or"
                },
                {
                  value: "notDirector",
                  text: "I am not a director of this company"
                }

            ]
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
              text: "Continue"
            }) }}

        </form>
        <p>
          <a href="select-the-director-single" style="color: #b1b4b6; float: right; font-size:12px">Single</a><br>
          <a href="select-the-director" style="color: #b1b4b6; float: right; font-size:12px">v1</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
