{% extends "layout.html" %}

{% block pageTitle %}
  Wait for A N Other to approve the application
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set mainClasses = "govuk-main-wrapper--l" %}

        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        <div class="govuk-panel govuk-panel--confirmation"  style="background-color:#1d70b8">
          <h1 class="govuk-panel__title">
            Application signed</h1><br><div class="govuk-panel__body">Check the application's progress with the person who is submitting it
          </div>

        </div>

        <p class="govuk-body">
          We need to receive signatures from all signing directors before the person making the application can pay for and submit it. It may take some time for others to sign.</p>
          <h2 class="govuk-heading-m">What to do next</h2>
<p class="govuk-body">The person making the application can download a signed PDF copy of it after it has been submitted.</p>
<p class="govuk-body"> The directors or members must then send this to all interested parties within 7 days of submission.</p>

{{ govukWarningText({
  text: "It is a criminal offence not to tell all interested parties that an application has been made to close the company.",
  iconFallbackText: "Warning"
}) }}

</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-6">
  <caption class="govuk-table__caption govuk-heading-l">Application status</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Resend</th>
        <th scope="col" class="govuk-table__header">Signed</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Robin SMITH</td>
      <td class="govuk-table__cell">rmsith@testcompany.co.uk</td>
      <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="company-information-completed" style="float:left;">Signed</strong></td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Jane EVANS</td>
      <td class="govuk-table__cell">jevans@testcompany.co.uk</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="company-information-completed" style="float:left;">Signed</strong></td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mrs Lisa M TAYLOR<br>signing on behalf of Dr A WILLIAMS</td>
      <td class="govuk-table__cell">ltaylor2020@gmail.com</td>
      <td class="govuk-table__cell"><a href="javascript:void(0)">Resend email</a></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-completed">Not signed</strong></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<ul class="govuk-list" style="color: #b1b4b6; margin-top:20px; font-size:12px">
  <li>
    <a style="color: #b1b4b6; margin-top:20px; font-size:12px" href="wait-to-sign-other-signer">Without status</a>
  </li>
</ul>


      </div>
    </div>
  </main>

{% endblock %}
