{% extends "layout.html" %}

{% block pageTitle %}
  Wait for A N Other to approve the application
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set mainClasses = "govuk-main-wrapper--l" %}

        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Main title
          </h1>

        </div>

        <p class="govuk-body">
          Additional text if needed</p>

      </div>
    </div>
  </main>

{% endblock %}