{% extends "layout.html" %}

{% block pageTitle %}
  Wait for A N Other to approve the application
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set mainClasses = "govuk-main-wrapper--l" %}

        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Wait for
            {{ data['v2-behalf-signing-name'] }}
            to approve the application
          </h1>

        </div>

        <p class="govuk-body">We've sent
          {{ data['v2-behalf-signing-name'] }}
          an email at
          <span class="govuk-!-font-weight-bold">
            {{ data['v2-behalf-signing-email'] }}</span>
          to request their approval.</p>

      </div>
    </div>
  </main>

{% endblock %}