{% extends "layout.html" %}

{% block pageTitle %}
  We need the application to be signed by the other directors or those signing for them.
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/primary-status" method="get">


        {% set mainClasses = "govuk-main-wrapper--l" %}

        <div class="govuk-panel govuk-panel--confirmation"  style="background-color:#1d70b8">
        <h1 class="govuk-panel__title">
        The directors must sign the application before you can submit it
        </h1>

        </div>
        <p class="govuk-body">We will email the directors and ask them to sign the application</p>

        <p class="govuk-body">When all directors have signed we will email you with instructions to pay for and submit the application.</p>
        <p class="govuk-body">
        You can now exit this page.</p>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-top-6">
  <caption class="govuk-table__caption govuk-heading-l">Application status</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Change</th>
      <th scope="col" class="govuk-table__header">Resend</th>
        <th scope="col" class="govuk-table__header">Signed</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Robin SMITH</td>
      <td class="govuk-table__cell">rmsith@testcompany.co.uk</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
      <td class="govuk-table__cell"><a href="">Resend email</a></td>
        <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="company-information-completed" style="float:left;">Signed</strong></td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Jane EVANS</td>
      <td class="govuk-table__cell">jevans@testcompany.co.uk</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
      <td class="govuk-table__cell"><a href="">Resend email</a></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-completed">Not signed</strong></td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">Mrs Lisa M TAYLOR</td>
      <td class="govuk-table__cell">ltaylor2020@gmail.com</td>
      <td class="govuk-table__cell"><a href="">Change</a></td>
      <td class="govuk-table__cell"><a href="">Resend email</a></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-completed">Not signed</strong></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

              <p><a class="govuk-link" href="/forms/DS01/sole-director-v2/delete-application">I want to delete this application</p>



        <p>
          <ul class="govuk-list" style="color: #b1b4b6; margin-top:20px; font-size:12px">
            <li>
              <a style="color: #b1b4b6; margin-top:20px; font-size:12px"href="/emails/primary-director-everyone-has-signed-notification">Link to email</a>
            </li>
            <li>
              <a style="color: #b1b4b6; margin-top:20px; font-size:12px" href="wait-to-sign-alt">Without status</a>
            </li>
            <li>
              <a style="color: #b1b4b6; margin-top:20px; font-size:12px" href="wait-to-sign-primary-status">With status as link</a>
            </li>
          </ul>
          </form>
      </div>
    </div>
  </main>

{% endblock %}
