{% extends "layout.html" %}

{% block pageTitle %}
  We need the application to be signed by the other directors or those signing for them.
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set mainClasses = "govuk-main-wrapper--l" %}

        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
                titleText: "You must wait for others to sign before you can submit the application"
              }) }}
          <p class="govuk-body">We have emailed the other directors or those signing for them to ask them to sign the application. It may take some time for them to sign.</p>
          <p class="govuk-body">We will email you with instructions to pay for and submit this application when we have all the signatures.</p>
          <p class="govuk-body">You can now exit this page. All details have been saved.</p>
      </div>
    </div>
  </main>

{% endblock %}
