{% extends "layout.html" %}

{% block pageTitle %}
  Who is signing for John SMITH?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
          }) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/check-before-you-submit-other-signer-on-behalf" method="get">

          <h1 class="govuk-heading-xl">
            Who is signing for John SMITH?
          </h1>
            {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
        label: {
                text: "Full name"
              },
              id: "v2-behalf-signing-name",
              name: "v2-behalf-signing-name"
            }) }}

          {{ govukInput({
          label: {
                  text: "Email address"
                },
                hint: {
                  text: "We'll send an email to ask them to sign the application."
                },
                id: "v2-behalf-signing-email",
                name: "v2-behalf-signing-email"
              }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
        text: "Continue"
      }) }}
        </form>

      </div>
    </div>
  </main>

{% endblock %}
