{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {% block phase_banner %}
      {% include "includes/phase_banner_alpha.html" %}
    {% endblock %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <p>
          <a href="which-director-are-you-approving-for" class="link-back">Back</a>
        </p>

        {% if approvingErr.msg %}
          <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              There's an error
            </h2>
            <ul class="error-summary-list">
              <li>
                <a href="#approver-name">{{ approvingErr.msg }}</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <h1 class="heading-xlarge">
          Approve this application for
          {{ approvingFor.name | upper }}
        </h1>
        <form class="form" method="POST" action="">
          <div class="form-group {% if approvingErr.msg %}form-group-error{% endif %}">
            <label class="form-label" for="approver-name">
              Your name

              {% if approvingErr %}
                <span class="error-message">
                  {{approvingErr.msg}}
                </span>
              {% endif %}

            </label>
            <input class="form-control" id="approver-name" name="approverName" type="text" value="John Smith">
          </div>
          <div class="form-group">
            <input class="button" type="submit" value="Continue">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
