{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {% block phase_banner %}
      {% include "includes/phase_banner_alpha.html" %}
    {% endblock %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <p>
          <a href="review-company-directors" class="link-back">Back</a>
        </p>
        {% if isDirectorErr %}
          <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
              There's an error
            </h2>
            <ul class="error-summary-list">
              <li>
                <a href="#auth-on-behalf">{{ isDirectorErr.msg }}</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <h1 class="heading-xlarge">
          Are you
          {{ scenario.company.directors[0].name }}?
        </h1>

        <form class="form" method="POST" action="">
          <div class="form-group {% if isDirectorErr %}form-group-error{% endif %}">
            <fieldset class="inline">
              <legend class="visually-hidden">
                <p class="bold-medium"></p>
              </legend>
              {% if isDirectorErr %}
                <span class="error-message">
                  {{ isDirectorErr.msg }}
                </span>
              {% endif %}
              <div class="multiple-choice">
                <input id="auth-on-behalf" type="radio" name="isDirector" value="Yes">
                <label for="auth-on-behalf">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="isDirector" value="No">
                <label for="radio-inline-2">No</label>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <input class="button" type="submit" value="Continue">
          </div>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
