{% extends "layout.html" %}

{% block pageTitle %}
  Check the company details
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check the company details</h1>
        <p class="govuk-body-l">
          Check and confirm that this is the company you want to close.
        </p>

      </div>
    </div>
  </main>

{% endblock %}