<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DocuSign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript">
      (function (global) {
        global.DS_PAGE_LOADED_TIME = +(new Date())
      })(this)
    </script>
    <link href="https://www.docusign.com/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <style>
      #error-page,
      .error-page #loading-logo {
        display: none;
      }

    </style>
    <link rel="stylesheet" href="/public/stylesheets/error-page.css" type="text/css">
    <script>
      window.DSSigning = {
        init: function (initOpts) {
          this._initOpts = initOpts
        }
      }
    </script>
    <script src="/public/javascripts/jquery-1.11.3.js"></script>
    <script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/public/javascripts/govuk/show-hide-content.js"></script>
    <script src="/public/javascripts/application.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/olive.min.css" type="text/css">
    <link rel="stylesheet" href="/public/stylesheets/docusign.css" type="text/css">

    <style id="GOVUK">
      .skiplink {
        text-indent: 9999em;
        color: transparent;
        display: block;
        height: 0;
        width: 0;
        opacity: 0;
      }
      .screen-reader {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }

    </style>
  </head>
  <body class="is-desktop">
    <!--[if lte IE 9 ]> <div id="container" class="ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <a href="#envelope" title="Skip to document" class="skiplink">Skip to document</a>
    <div id="container" style="padding-top: 87px; padding-right: 0px; padding-bottom: 35px;">
      <!--<![endif]-->
      <div id="envelope">
        <div class="wrapper">
          <div class="container">
            <div class="documents-wrapper">
              <div class="gray"></div>
              <section class="extensions-drawer" data-qa="extensions-drawer"></section>
              <section class="thumbnail-drawer hidden-xs" data-qa="thumbnail-drawer" style="top: 87px; bottom: 35px;"></section>
              <section class="documents" tabindex="-1" data-qa="documents" style="overflow: auto; position: relative; backface-visibility: hidden;">
                <div id="overlay-container" class="">
                  <div id="navigate-container" style="width: 1005px;">
                    <div id="autonav-button-wrapper" class="hidden-xs">
                      <button type="button" track="autoNavigate" id="navigate-btn" class="btn btn-primary" data-action="autoNavigate" data-qa="auto-nav-caret" aria-hidden="true" tabindex="-1" style="opacity: 1;">
                        <span>Next</span>
                      </button>
                    </div>
                    <div id="freeform-palette-wrapper" style="display: none; top: 87px; bottom: 35px;"></div>
                    <div id="navigate-gutter" class="hidden-xs"></div>
                    <div class="zoom-container" style="overflow: hidden; position: relative; display: inline-block; width: 795px; height: 1174px;">
                      <div id="documents" style="transform-origin: 0% 0% 0px;">
                        <div id="document-3658439a-1a7e-4412-a82e-0e4bdb4b0b56" class="pages">
                          <div
                            class="page page-loaded"
                            page-id="533e953d-884e-4447-b34d-22428005f8de"
                            data-qa="page-533e953d-884e-4447-b34d-22428005f8de"
                            id="page-533e953d-884e-4447-b34d-22428005f8de"
                            style="width:795.6px;"
                            data-envelope-page-number="1"
                            data-document-page-number="1">
                            <div class="page-image-wrapper" style="height:1124.56px;">
                              <h2 class="screen-reader-text page-info-top" tabindex="-1">
                                Authorise the application to close COMPANY NAME LIMITED
                              </h2>
                              <div class="load-page-button">
                                <button type="button" class="screen-reader-text" data-action="autoNavigate:533e953d-884e-4447-b34d-22428005f8de">Select to load content for this page</button>
                              </div>
                              <img class="page-image" data-page-id="533e953d-884e-4447-b34d-22428005f8de" alt="" aria-hidden="true" style="width:793.6px;" src="/public/images/docusign-fake.gif">
                              <div class="page-spinner">
                                <div class="transparentSpinner"></div>
                              </div>
                              <div class="page-tabs">
                                <div class="doc-tab text-tab page-text-tab screen-reader-text locked" id="line-0" data-id="line-0" style="left:499.2px; top:116.48px; height:44.160000000000004px">
                                  <div class="tab-form-element locked" style="font-family: &quot;Lucida Console&quot;, &quot;Andale Mono&quot;, Monaco, monospace; font-size: 14px; letter-spacing: 0px; color: rgb(0, 0, 0); text-align: left;">
                                    <h3 tabindex="-1">Provide your signature to close COMPANY NAME LIMITED</h3>
                                    <p tabindex="-1">Company number, 08778602</p>
                                    <h3>Important notice for all interested parties</h3>
                                    <p>This company has applied to be struck off and dissolved. The registrar will proceed unless there is reasonable cause not to, and on dissolution any assets remaining in the company will be passed to the Crown. Guidance is available on grounds for
                                      objection. If in doubt seek professional advice.</p>
                                    <h3>Declaration of director</h3>
                                    <p>I/We as the majority of directors apply for this company to be struck off the Register and declare that none of the circumstances described in section 1004 and 1005 of the Companies Act 2006 (being circumstances in which the directors would
                                      otherwise be prohibited under those sections from making an application) exists in relation to the company.</p>
                                  </div>
                                </div>
                                <div class="doc-tab text-tab page-text-tab screen-reader-text locked" id="line-18" data-id="line-18" style="left:352.64px; top:760.96px; height:10.24px">
                                  <div class="tab-form-element locked" style="font-family: &quot;Lucida Console&quot;, &quot;Andale Mono&quot;, Monaco, monospace; font-size: 14px; letter-spacing: 0px; color: rgb(0, 0, 0); text-align: left;">
                                    <span class="screen-reader">Signing on behalf of
                                    </span>Carl ALLEN</div>
                                </div>
                                <div
                                  class="doc-tab signature-tab signing-required has-tab-error"
                                  id="tab-473279d7-8970-4b24-90e2-bfe79a6ccbc1"
                                  data-id="473279d7-8970-4b24-90e2-bfe79a6ccbc1"
                                  data-type="SignHere"
                                  data-label="Sign Here_SignHere_855d4a1d-4677-44a5-b78c-4a859b10b791"
                                  style="left: 350.08px; top: 732.16px; z-index: 1;">
                                  <button id="tab-form-element-473279d7-8970-4b24-90e2-bfe79a6ccbc1" class="tab-button" type="button" data-qa="signature-tab-required-473279d7-8970-4b24-90e2-bfe79a6ccbc1">
                                    <img
                                      class="tab-complete-image signature-image"
                                      src="https://demo.docusign.net/Signing/image.aspx?insession=1&amp;ti=9d9f52d7998548e183ae51537461e83c&amp;i=d9a36dcc-38ad-4eb0-acb0-9768e3dba5f3"
                                      draggable="false"
                                      style="height:47.36px; background: red;">
                                    <div class="tab-content-wrapper" data-lang="en" aria-hidden="true">
                                      <div class="signature-tab-content">
                                        <div class="tab-text">Sign</div>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="tab-image tab-image-for-signature" x="0px" y="0px" width="68px" height="45px" viewBox="0 0 68 45" aria-hidden="true" focusable="false">
                                          <polygon class="tab-image-arrow" points="31,16 31,22, 27,22, 34,30 41,22 37,22, 37,16"></polygon>
                                          <line class="tab-image-line" x1="19" y1="34" x2="49" y2="34"></line>
                                        </svg>
                                      </div>
                                    </div>
                                  </button>
                                  <label for="tab-form-element-473279d7-8970-4b24-90e2-bfe79a6ccbc1" class="tab-label" style="white-space: nowrap; width: auto;">
                                    Sign application. Select this button to provide your signature
                                  </label>
                                </div>
                                <div
                                  class="doc-tab text-tab signed locked"
                                  id="tab-93f80a4a-b8c8-4924-8c30-fce831ee82e1"
                                  data-id="93f80a4a-b8c8-4924-8c30-fce831ee82e1"
                                  data-type="DateSigned"
                                  data-label="Date Signed_DateSigned_855d4a1d-4677-44a5-b78c-4a859b10b791"
                                  style="left: 194.8px; top: 787.2px;">
                                  <div
                                    id="tab-form-element-93f80a4a-b8c8-4924-8c30-fce831ee82e1"
                                    data-qa="text-single-locked-tab-93f80a4a-b8c8-4924-8c30-fce831ee82e1"
                                    class="tab-form-element locked singleline"
                                    style="min-width: 72px; font-family: &quot;Lucida Console&quot;, &quot;Andale Mono&quot;, Monaco, monospace; font-size: 12px; letter-spacing: 0px; text-align: left;">
                                    <span class="screen-reader">Signature date:
                                    </span>08-12-2017</div>
                                </div>
                              </div>
                              <div class="page-error">
                                <p>This page cannot be displayed. After retrying, if this problem persists, please contact the sender.</p>
                                <p>Companies House [<a href="mailto:noreply-docusign@companieshouse.gov.uk">noreply-docusign@companieshouse.gov.uk<span class="screen-reader-text">This link will open in a new window.</span>
                                    <span class="icon icon-external"></span>
                                  </a>]</p>
                                <button type="button" class="btn btn-secondary btn-large" data-action="sendMessage:reloadRequested">Retry</button>

                              </div>
                            </div>
                            <div class="page-info" aria-hidden="true" style="width:793.6px;">DS01_AGILEGO CYF._08-12-2017
                              <span class="page-info-xofx right">1 of 1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="documents-finish-button-wrapper" class="btn-done-signing hidden-xs">
                      <div class="documents-finish-button-decoration">
                        <div class="hidden-xs">
                          <button class="documents-finish-button btn btn-main btn-lg" data-action="action-bar-finish" data-text="finishButtonText" id="end-of-document-btn-finish" track="bottom-finish-button" type="button">Approve</button>
                        </div>
                        <div class="visible-xs">
                          <button class="documents-finish-button btn btn-main btn-lg" data-action="action-bar-finish" data-text="finishButtonTextMobile" id="end-of-document-btn-finish-mobile" track="bottom-finish-button" type="button">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div id="comments-mobile"></div>
          </div>
        </div>
      </div>
      <div id="guided-forms"></div>
      <div class="fixed-top">
        <div id="top-message"></div>
        <div id="welcome-wrapper" style="display: none;">
          <div id="welcome"></div>
        </div>
        <div id="action-bar-wrapper">
          <div id="action-bar">
            <div class="wrapper">
              <div id="action-bar-consent-control" style="display: none;">
                <div class="row">
                  <div class="cell hidden-xs">
                    <span class="pointer"></span>
                  </div>
                  <div class="cell action-bar-consent-message">
                    <div class="disclosure-link">
                      Please read the
                      <a id="disclosureLink" href="#" data-action="show:consumer-disclosure" data-qa="show-consumer-disclosure">Electronic Record and Signature Disclosure</a>.
                    </div>
                    <div>
                      <span class="input-checkbox cell">
                        <input class="checkbox" data-checked="disclosureAccepted" data-qa="disclosureAccepted" id="disclosureAccepted" track="disclosure-accepted-checkbox" type="checkbox">
                      </span>
                      <label for="disclosureAccepted" class="cell">
                        I agree to use electronic records and signatures.
                        <span class="screen-reader-text">Required</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear-float visible-xs"></div>
              <div class="left cell">
                <div class="visible-xs">
                  <button
                    type="button"
                    class="btn btn-minor btn-trigger other-actions-btn-mobile"
                    data-qa="toggle-other-actions-m"
                    olive-menu="otherActionsMenuMobile"
                    olive-menu-position="below left"
                    olive-menu-trigger="otherActionsMenuMobile"
                    olive-menu-initialized="true"
                    aria-haspopup="true">
                    <span class="icon-menu"></span>
                    <span class="sr-text">Other Actions</span>
                  </button>
                  <div class="menu invisible below left" id="otherActionsMenuMobile" olive-menu-content-for="otherActionsMenuMobile" data-qa="other-actions-menu-items-m" data-refresh="templates/other-actions:menuItems">
                    <div id="actionsWrapper" role="menu" aria-labelledby="otherActionsButton">
                      <ul>
                        <li class="visible-xs group-toolbar-links">
                          <button type="button" class="item button-link" data-action="print">Print</button>
                        </li>
                        <li class="visible-xs group-footer-links">
                          <button type="button" class="item button-link" data-action="show:choose-language" data-qa="show-choose-language-m">Change Language - English (US)</button>
                        </li>
                        <li class="group-other-links">
                          <a class="item" target="_blank" href="https://support.docusign.com/en/knowledgeSearch?by=topic&amp;category=sign">
                            <span aria-hidden="true">Help &amp; Support</span>
                            <span class="screen-reader-text">Help &amp; Support This link will open in a new window.</span>
                            <span class="icon icon-external"></span>
                          </a>
                        </li>
                        <li class="group-other-links">
                          <a class="item" target="_blank" href="https://www.docusign.com/company">
                            <span aria-hidden="true">About DocuSign</span>
                            <span class="screen-reader-text">About DocuSign This link will open in a new window.</span>
                            <span class="icon icon-external"></span>
                          </a>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:history" data-qa="show-history">View History</button>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:certificate" data-qa="show-certificate">
                            <span aria-hidden="true">View Certificate (PDF)</span>
                            <span class="screen-reader-text">View Certificate (PDF) This link will open a pdf in a new window.</span>
                            <span class="icon icon-external"></span>
                          </button>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:session-info" data-qa="show-session-info">Session Information</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <span class="action-bar-helpful-message-wrapper cell">
                <span class="action-bar-helpful-message desktop hidden-xs" data-text="helpfulMessage">Select the sign field to create and add your signature.</span>
                <span class="action-bar-helpful-message mobile visible-xs" data-text="helpfulMessageMobile">Select Sign Here to sign</span>
              </span>
              <div class="right cell">
                <span class="continue-button-wrapper">
                  <div class="hidden-xs">
                    <button class="btn btn-main btn-lg btn-done-signing" data-action="action-bar-finish" data-qa="action-bar-finish" data-text="finishButtonText" id="action-bar-btn-finish" track="top-finish-button" type="button">Approve</button>
                  </div>
                  <div class="visible-xs">
                    <button class="btn btn-main btn-lg btn-done-signing" data-action="action-bar-finish" data-qa="action-bar-finish" data-text="finishButtonTextMobile" id="action-bar-btn-finish-mobile" track="top-finish-button" type="button">Next</button>
                  </div>
                  <button
                    aria-describedby="beginSigningContinueTooltip"
                    id="action-bar-btn-continue"
                    class="btn btn-main btn-lg"
                    data-action="action-bar-continue"
                    data-disabled-invert="disclosureAccepted"
                    data-qa="action-bar-btn-continue"
                    track="continue-button"
                    type="button"
                    style="display: none;">Continue</button>
                  <span id="needsConsentContinueTooltip" class="signing-tooltip multiline" data-qa="needsConsentContinueTooltip">
                    <span>To continue you must consent to use Electronic Records and Signatures.</span>
                  </span>
                  <span id="beginSigningContinueTooltip" class="signing-tooltip multiline" data-qa="beginSigningContinueTooltip">
                    <span>Select Continue to begin the signing process</span>
                  </span>
                </span>
                <span class="hidden-xs">
                  <button
                    id="otherActionsButton"
                    type="button"
                    class="btn btn-lg btn-trigger other-actions-btn"
                    data-qa="toggle-other-actions"
                    olive-menu="otherActionsMenu"
                    olive-menu-position="below right"
                    olive-menu-trigger="otherActionsMenu"
                    olive-menu-initialized="true"
                    aria-haspopup="true">
                    Other Actions
                  </button>
                  <div class="menu invisible below right" id="otherActionsMenu" olive-menu-content-for="otherActionsMenu" data-qa="other-actions-menu-items" data-refresh="templates/other-actions:menuItems">
                    <div id="actionsWrapper" role="menu" aria-labelledby="otherActionsButton">
                      <ul>
                        <li class="visible-xs group-toolbar-links">
                          <button type="button" class="item button-link" data-action="print">Print</button>
                        </li>
                        <li class="visible-xs group-footer-links">
                          <button type="button" class="item button-link" data-action="show:choose-language" data-qa="show-choose-language-m">Change Language - English (US)</button>
                        </li>
                        <li class="group-other-links">
                          <a class="item" target="_blank" href="https://support.docusign.com/en/knowledgeSearch?by=topic&amp;category=sign">
                            <span aria-hidden="true">Help &amp; Support</span>
                            <span class="screen-reader-text">Help &amp; Support This link will open in a new window.</span>
                            <span class="icon icon-external"></span>
                          </a>
                        </li>
                        <li class="group-other-links">
                          <a class="item" target="_blank" href="https://www.docusign.com/company">
                            <span aria-hidden="true">About DocuSign</span>
                            <span class="screen-reader-text">About DocuSign This link will open in a new window.</span>
                            <span class="icon icon-external"></span>
                          </a>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:history" data-qa="show-history">View History</button>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:certificate" data-qa="show-certificate">
                            <span aria-hidden="true">View Certificate (PDF)</span>
                            <span class="screen-reader-text">View Certificate (PDF) This link will open a pdf in a new window.</span>
                            <span class="icon icon-external"></span>
                          </button>
                        </li>
                        <li class="group-other-links">
                          <button type="button" class="item button-link" data-action="show:session-info" data-qa="show-session-info">Session Information</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>
              <div class="clear-float"></div>
            </div>
          </div>
        </div>
        <div id="toolbar-wrapper" class="hidden-xs">
          <div id="toolbar">
            <!-- This file is kinda gross. Need to put in a bunch of comments be cause spaces affect layout if we leave them out -->
            <div class="wrapper">
              <span class="toolbar-btn-wrapper">
                <button class="toolbar-button" type="button" track="zoom-button" data-action="zoomIn" data-qa="zoomIn" aria-label="Zoom In">
                  <span class="icon-zoomin"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Zoom In</span>
                </span>
              </span>
              <div class="separator"></div>
              <span class="toolbar-btn-wrapper">
                <button class="toolbar-button" type="button" track="zoom-button" data-action="zoomOut" data-qa="zoomOut" aria-label="Zoom Out">
                  <span class="icon-zoomout"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Zoom Out</span>
                </span>
              </span>
              <div class="separator"></div>
              <span class="toolbar-btn-wrapper">
                <button type="button" class="toolbar-button btn-no-border js-show-download-dialog" title="Download" data-qa="download-options">
                  <span class="icon-download"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Download</span>
                </span>
              </span>
              <div class="separator"></div>
              <span class="toolbar-btn-wrapper">
                <button class="toolbar-button" type="button" data-action="print" data-qa="print" aria-label="PrintThis link will open in a new window.">
                  <span class="icon-print"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Print</span>
                </span>
              </span>
              <div class="separator temporarily-hide"></div>
              <div class="separator"></div>
              <span class="toolbar-btn-wrapper">
                <button class="toolbar-button" type="button" data-action="openTab:https://support.docusign.com/en/knowledgeSearch?by=topic&amp;category=sign" data-qa="help-support" aria-label="HelpThis link will open in a new window.">
                  <span class="icon-incomplete"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Help</span>
                </span>
              </span>
              <span class="toolbar-btn-wrapper right">
                <button type="button" class="thumbnails toolbar-button" data-action="toggle:thumbnail-drawer" data-qa="thumbnail-drawer" aria-label="Thumbnails">
                  <span class="icon-documents"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Thumbnails</span>
                </span>
              </span>
              <div class="clear-float"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed-bottom hidden-xs">
        <footer id="footer-wrapper">
          <div id="footer">
            <div class="wrapper">
              <div class="nav">
                <div class="logo-wrapper">
                  <img class="logo" src="/Signing/Images/logo.png" alt="DocuSign">
                </div>
                <ul class="footer-items">
                  <li class="footer-item-wrapper">
                    <button type="button" class="btn-trigger btn-no-border" aria-haspopup="true" olive-menu="language-chooser-menu" olive-menu-position="above right">
                      <i class="icon icon-globe" id="icon-lang"></i>
                      Change Language - English (US)</button>
                    <div class="menu invisible" id="language-chooser-menu" role="menu" aria-label="Change Language">
                      <ul>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:en" lang="en" title="English (US)" class="item button-link btn-block">English (US)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:de" lang="de" title="German" class="item button-link btn-block">Deutsch</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:es" lang="es" title="Spanish" class="item button-link btn-block">Español</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:fr" lang="fr" title="French (France)" class="item button-link btn-block">Français (France)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:it" lang="it" title="Italian" class="item button-link btn-block">Italiano</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:nl" lang="nl" title="Dutch" class="item button-link btn-block">Nederlandse</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:pt-BR" lang="pt-BR" title="Portuguese (Brasil)" class="item button-link btn-block">Português (Brasil)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:pt" lang="pt" title="Portuguese (Portugal)" class="item button-link btn-block">Português (Portugal)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ru" lang="ru" title="Russian" class="item button-link btn-block">Русский</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:zh-CN" lang="zh-CN" title="Simplified Chinese" class="item button-link btn-block">中文 (简体)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:zh-TW" lang="zh-TW" title="Traditional Chinese" class="item button-link btn-block">中文 (繁體)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ja" lang="ja" title="Japanese" class="item button-link btn-block">日本語</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ko" lang="ko" title="Korean" class="item button-link btn-block">한국어</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:id" lang="id" title="Bahasa Indonesia" class="item button-link btn-block">Bahasa Indonesia</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ms" lang="ms" title="Bahasa Malay" class="item button-link btn-block">Bahasa Melayu</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:da" lang="da" title="Danish" class="item button-link btn-block">Dansk</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:et" lang="et" title="Estonian" class="item button-link btn-block">Eesti</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:en-GB" lang="en-GB" title="English (UK)" class="item button-link btn-block">English (UK)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:es-MX" lang="es-MX" title="Spanish (Latin America)" class="item button-link btn-block">Español (América Latina)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:fr-CA" lang="fr-CA" title="French (Canada)" class="item button-link btn-block">Français (Canada)</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:hr" lang="hr" title="Croatian" class="item button-link btn-block">Hrvatski</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:lv" lang="lv" title="Latvian" class="item button-link btn-block">Latviešu</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:lt" lang="lt" title="Lithuanian" class="item button-link btn-block">Lietuvių</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:hu" lang="hu" title="Hungarian" class="item button-link btn-block">Magyar</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:no" lang="no" title="Norwegian" class="item button-link btn-block">Norsk</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:pl" lang="pl" title="Polish" class="item button-link btn-block">Polski</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ro" lang="ro" title="Romanian" class="item button-link btn-block">Română</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:sk" lang="sk" title="Slovak" class="item button-link btn-block">Slovenčina</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:sl" lang="sl" title="Slovenian" class="item button-link btn-block">Slovenščina</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:fi" lang="fi" title="Finnish" class="item button-link btn-block">Suomi</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:sv" lang="sv" title="Swedish" class="item button-link btn-block">Svenska</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:tr" lang="tr" title="Turkish" class="item button-link btn-block">Türkçe</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:vi" lang="vi" title="Vietnamese" class="item button-link btn-block">Việt</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:cs" lang="cs" title="Czech" class="item button-link btn-block">Čeština</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:el" lang="el" title="Greek" class="item button-link btn-block">Ελληνικά</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:bg" lang="bg" title="Bulgarian" class="item button-link btn-block">Български</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:sr" lang="sr" title="Serbian" class="item button-link btn-block">Српски</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:uk" lang="uk" title="Ukrainian" class="item button-link btn-block">Українська</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:he" lang="he" title="Hebrew" class="item button-link btn-block">עברית‏</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:ar" lang="ar" title="Arabic" class="item button-link btn-block">العربية‏</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:fa" lang="fa" title="Farsi" class="item button-link btn-block">فارسی</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:hi" lang="hi" title="Hindi" class="item button-link btn-block">हिन्दी</button>
                        </li>
                        <li role="none">
                          <button role="menuitem" type="button" data-action="setLanguage:th" lang="th" title="Thai" class="item button-link btn-block">ภาษาไทย</button>
                        </li>
                      </ul>
                    </div>|&nbsp;&nbsp;
                  </li>
                  <li class="footer-item-wrapper">Copyright © 2017 DocuSign Inc.</li>
                  <li class="footer-item-wrapper responsive">|&nbsp;&nbsp;V2R</li>
                  <select id="lang-width-calc" aria-hidden="true" tabindex="-1">
                    <option id="lang-width-calc-option"></option>
                  </select>
                </ul>
              </div>
              <div class="clear-float"></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div id="progress-indicator" tabindex="0" style="display: none;">
      <div class="spinner">
        <div class="bg"></div>
      </div>
    </div>
    <div id="adopt-dialog" class="dialog-holder" style="display: none;">
      <div class="olive modal-open">
        <div class="modal">
          <div id="adopt-dialog" class="modal-wrap dialog is-signature-mode" tabindex="0">
            <div class="modal-content xl" role="dialog" aria-labelledby="adopt-dialog-title" aria-describedby="adopt-dialog-content" tabindex="0">
              <button data-qa="adopt-close" type="button" class="icon icon-times x-close close" data-action="cancelAdoptSignature">
                <span class="btn-label">Close</span>
              </button>
              <div class="header hidden-xs">
                <h1 class="dialog-title" id="adopt-dialog-title">
                  <span class="item-alt" data-group="tagType" data-group-item="signature" data-qa="adopt-title" data-selected="">Adopt Your Signature</span>
                  <span class="item-alt" data-group="tagType" data-group-item="initials" data-qa="adopt-title">Adopt Your Initials</span>
                </h1>
              </div>
              <div class="content" id="adopt-dialog-content">
                <article id="adopt">
                  <div class="ds-title p hidden-xs">
                    Confirm your name, initials, and signature.
                  </div>
                  <!--–– Use separate first and last name boxes ––-->
                  <p aria-hidden="true">
                    <span class="text-alert">*</span>
                    Required</p>
                  <div class="full-name form-group">
                    <div class="wrapper">
                      <label for="full-name">Full Name<span aria-hidden="true" class="text-alert">*</span>
                        <span class="screen-reader-text">Required</span>
                      </label>
                      <span data-qa="adopt-full-name-error" class="error inline-block hidden">Name required</span>
                      <br>
                      <div>
                        <input data-qa="adopt-full-name" id="full-name" disabled="" value="Carl Allen" name="fullname" type="text" class="signing-required input-text" maxlength="100">
                      </div>
                    </div>
                  </div>
                  <div class="initials">
                    <div class="wrapper">
                      <label for="initials">Initials<span aria-hidden="true" class="text-alert">*</span>
                        <span class="screen-reader-text">Required</span>
                      </label>
                      <span data-qa="adopt-initials-error" class="error inline-block hidden">Initials required</span>
                      <br>
                      <div>
                        <input data-qa="adopt-initials" id="initials" disabled="" value="CA" name="initials" type="text" class="signing-required input-text" maxlength="100">
                      </div>
                    </div>
                  </div>
                  <div class="clear-float"></div>
                </article>
                <header class="tab-nav tabs-wrap">
                  <ul role="tablist" class="tabs">
                    <li class="tab-wrap">
                      <button role="tab" data-qa="adopt-select-style" type="button" data-target-panel="#select-style" class="tab tab-select-style btn on" aria-label="Adopt and sign below">Adopt and sign below</button>
                    </li>

                  </ul>
                </header>
                <div role="tabpanel" id="select-style" class="tab-panel panel-select-style on" tabindex="-1">
                  <h4>Preview
                    <div class="error"></div>
                  </h4>
                  <div class="signature-preview">
                    <div class="signature"><img
                      data-qa="adopt-signature-img"
                      alt="Signature style Arial Unicode Carl Allen"
                      src="https://demo.docusign.net/Signing/image.aspx?ti=6b3ec0173f13404f9ec5a6ef1e2b2b72&amp;i=asig150&amp;force=315&amp;s=Carl+Allen&amp;f=Arial+Unicode&amp;nochrome=0"
                      height=""
                      class="signature-img">
                      <img
                        data-qa="adopt-initials-img"
                        alt="Initials style Arial Unicode CA"
                        src="https://demo.docusign.net/Signing/image.aspx?ti=6b3ec0173f13404f9ec5a6ef1e2b2b72&amp;i=ainit150&amp;force=315&amp;s=CA&amp;n=Carl+Allen&amp;f=Arial+Unicode&amp;nochrome=0"
                        height=""
                        class="initials-img">
                      <div class="clear-float"></div>
                    </div>
                    <div class="clear-float"></div>
                  </div>
                </div>
                <div class="legalese">
                  <p class="item-alt" data-group="tagType" data-group-item="signature" data-selected="">By selecting Adopt and Sign, I agree that the signature and initials will be the electronic representation of my signature and initials for all purposes when I (or
                    my agent) use them on documents, including legally binding contracts - just the same as a pen-and-paper signature or initial.</p>
                  <p class="item-alt" data-group="tagType" data-group-item="initials">By selecting Adopt and Initial, I agree that the signature and initials will be the electronic representation of my signature and initials for all purposes when I (or my agent) use
                    them on documents, including legally binding contracts - just the same as a pen-and-paper signature or initial.</p>
                </div>
                <div class="styles"></div>
              </div>
              <div class="footer">
                <button id="adopt-my-sig" data-qa="adopt-submit" class="btn btn-lg btn-main item-alt-inline-block" data-group="tagType" data-group-item="signature" data-selected="" type="button" data-ds="submit" value="signature">Adopt and Sign</button>
                <button data-qa="adopt-submit" class="btn btn-lg btn-main item-alt-inline-block" data-group="tagType" data-group-item="initials" type="button" data-ds="submit" value="signature">Adopt and Initial</button>
                <button data-qa="adopt-cancel" class="btn btn-lg btn-minor close" type="button" data-action="cancelAdoptSignature">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="olive-dialog-wrapper" class="olive modal-open" style="display: none;">
      <div class="modal" id="save-a-copy-done" modal-ready="">
        <div class="save-a-copy modal-wrap">
          <div class="modal-content" tabindex="0" aria-labelledby="save-a-copy-done-title" aria-describedby="save-a-copy-done-content">
            <div class="top-right-icons">
              <span class="download-menu">
                <button type="button" class="btn btn-icon btn-minor btn-no-border js-show-download-dialog" title="Download" data-qa="save-a-copy-download-options">
                  <span class="icon icon-download"></span>
                </button>
                <span class="signing-tooltip below">
                  <span>Download</span>
                </span>
              </span>
              <span class="print-menu">
                <button type="button" class="btn btn-icon btn-minor btn-trigger btn-no-border" data-qa="save-a-copy-print-options" title="Print" aria-label="Print" olive-menu="modal-print-menu" olive-menu-position="below right">
                  <span class="icon icon-print"></span>
                </button>
                <div id="modal-print-menu" class="menu invisible">
                  <ul>
                    <li>
                      <button type="button" class="item button-link btn-block" title="Print" data-action="print">
                        <span class="icon icon-print"></span>
                        <span aria-hidden="true">Print</span>
                        <span class="screen-reader-text">Print This link will open in a new window.</span>
                        <span class="icon icon-external"></span>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="item button-link btn-block" title="Print" data-action="show:print-to-fedex">
                        <span class="icon icon-fedex"></span>
                        Print to FedEx Office</button>
                    </li>
                  </ul>
                </div>
              </span>
            </div>
            <div class="header">
              <h1 class="dialog-title under-icons" data-qa="dialog-title" id="save-a-copy-done-title">You're Done Signing</h1>
            </div>
            <div class="content signing-complete-blurb" id="save-a-copy-done-content">
              You may download or print using the icons above.
            </div>
            <div class="footer">
              <button data-qa="dialog-submit" type="button" class="btn btn-lg btn-main" track-ds="signingCompleteContinue">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
