{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    <form action="/who-you-have-to-tell" method="get" class="form">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Shortcuts
          </h1>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/start.html">Start page</a>
            </li>
            <li>
              <a class="govuk-link" href="/who-you-have-to-tell">Who to tell about the company closing</a>
            </li>
            <li>
              <a class="govuk-link" href="/core/sign-in">Sign in to Companies House</a>
            </li>
            <li>
              <a class="govuk-link" href="/which-company-to-close#">What is the company number?</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/confirm-the-company">Confirm this is the correct company
              </a>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/confirm-the-company-cannot-file">Confirm this is the correct company (cannot close)</a>
            </li>
            <li>
              <a class="govuk-link" href="/core/company-authentication">Company authentication</a>
            </li>
          </ul>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director">
                Which director are you? (Multi)
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-single">
                Which director are you? (Single)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise">Which directors will be signing the application? (Multi: version A)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-director-to-authorise-conditionals">Which directors will be signing the application? (Multi: version B)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-method">How will the directors be signing the application? (Multi: version A)</a>
            </li>
            <li>
              <a class="govuk-link" href="forms/DS01/sole-director-v2/select-the-directors-details">Tell us the contact details of those signing (Multi: version B)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-method-single">Which directors will be signing the application? (Single)</a>
            </li>
          </ul>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-check-before-you-submit">Check your answers (Multi)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/select-the-directors-check-before-you-submit-single">Check your answers (Single)</a>
            </li>

            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/alternative-to-docusign">Sign the application (DocuSign replacement)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign">You must wait (Primary director)</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/wait-to-sign-other-signer">You must wait (Other signers)</a>
            </li>
          </ul>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/payment">Payment</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director-v2/payment-confirm">Payment confirmation</a>
            </li>
            <li>
              <a class="govuk-link" href="/forms/DS01/sole-director/confirmation">
                Application submitted
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#"></a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            Emails
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="/emails/sole-director-submission-confirmation">Request to close... has been submitted
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/director-needs-to-sign">Director needs to sign
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/primary-director-everyone-has-signed-notification">All directors have now signed
              </a>
            </li>
            <li>
              <a class="govuk-link" href="/emails/complete-the-application">Complete the application (Old service to new service migration)              </a>
            </li>

          </div>
        </div>
      </form>
    </main>

  {% endblock %}
