{% extends "layout.html" %}

{% block page_title %}
  Close a company
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {% block phase_banner %}
      {% include "includes/phase_banner_beta.html" %}
    {% endblock %}

    <div class="govuk-breadcrumbs">
      <ol>
        <li>
          <a href="http://www.gov.uk">Home</a>
        </li>
        <li>
          <a href="http://companieshouse.gov.uk">Companies House</a>
        </li>
        <li>Close a company</li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Close a company
        </h1>
        <p class="lede">
          Use this service to close a company or limited liability partnership.
        </p>
        <p>It costs £8 to close a company and you'll need</p>
        <ul class="list list-bullet">
          <li>the company number</li>
          <li>the company authentication code</li>
          <li>an email address for each director</li>
          <li>a credit or debit card</li>
        </ul>
        <p>It normally takes 10 minutes to complete this process.</p>
        <p>
          <a class="button button-start" href="who-you-have-to-tell" role="button" title="Start your application to close a company">Start now</a>
        </p>
        <div class="form-class table-spacing">
          <h2 class="heading-medium">Before you begin</h2>
          <p>Before you start this application</p>
          <ul class="list list-bullet table-spacing">
            <li>you must make sure the directors of the company are aware you're making this application</li>
            <li>you should read the guidance on
              <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration-gp4">closing your company</a>
            </li>
          </ul>
        </div>
        <p>You can also
          <a href="https://www.gov.uk/government/publications/strike-off-a-company-from-the-register-ds01">close a company by post.</a>
        </p>
        <p>This service is also available in
          <a href="#">Welsh (Cymraeg).</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
