{% extends "layout.html" %}

{% block page_title %}
  Close a company
{% endblock %}

{% block content %}

  <main id="content" role="main">

    {% block phase_banner %}
      {% include "includes/phase_banner_alpha.html" %}
    {% endblock %}

    <div class="govuk-grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Review your application
        </h1>
        <p class="lede">
          Your application to close A COMPANY LIMITED is ready to be submitted
        </p>
        <p>Review the information below and submit your application</p>
        <div class="form-group">
          <table>
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>A COMPANY LIMITED</td>
              </tr>
              <tr>
                <th scope="row">Number</th>
                <td>08227645</td>
              </tr>
              <tr>
                <th scope="row" style="vertical-align:top;">Registered office address</th>
                <td>
                  23 James Street<br>
                  Broughton<br>
                  Dorset<br>
                  BT12 5RG
                </td>
              </tr>
              <tr>
                <th scope="row">Authorising directors</th>
                <td>
                  Amanda Smith<br/>
                  Mark Smith
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <p>
            <a class="button" href="" role="button" title="Submit this application">Submit application</a>
          </p>
        </div>
      </div>
    </div>
  </main>

{% endblock %}