{% extends "layout.html" %}

{% block pageTitle %}
  Who to tell about the company closing
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Who to tell about the company closing
        </h1>
        <p class="govuk-body">Directors must give a copy of this application to all interested parties within 7 days of it being submitted.
        </p>

<p>Read the
          <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#who-to-tell-about-the-strike-off-application">full list of parties you must tell about the company closing (opens in a new window or tab)</a>.
        </p>

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        <!-- <details class="govuk-details" data-module="govuk-details"> <summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> See the list of who to tell </span> </summary> <div class="govuk-details__text"> <ul
        class="govuk-list govuk-list--bullet"> <li>shareholders</li> <li>creditors</li> <li>employees</li> <li>managers or trustees of any employee pension fund</li> <li>directors who have not signed the form</li> </ul> </div> </details>-->

        {{ govukWarningText({
          text: "Directors can be fined or imprisoned if they do not inform all interested parties. ",
          iconFallbackText: "Warning"
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
    idPrefix: "",
    name: "",
    fieldset: {
      legend: {
        text: "The directors understand that they are responsible for notifying all interested parties.",
        isPageHeading: false,
        classes: "govuk-visually-hidden"
      }
    },

    items: [
      {
        value: "",
        text: "The directors understand that they are responsible for notifying all interested parties."
      }
    ]
  }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          href: "which-company-to-close"
        }) }}
      </div>
    </div>
  </main>

{% endblock %}
