{% extends "layout.html" %}

{% block pageTitle %}
  Who to tell about the company closing
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
      text: "Back",
      href: "#"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Who to tell about the company closing
        </h1>
        <p class="govuk-body-l">The director(s) must give a copy of the application to all interested parties within 7 days of it's submission.</p>

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See the list of who to tell
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>shareholders</li>
              <li>creditors</li>
              <li>employees</li>
              <li>managers or trustees of any employee pension fund</li>
              <li>directors who have not signed the form</li>
            </ul>
          </div>
        </details>

        {{ govukWarningText({
          text: "It's a criminal offence not to tell all interested parties",
          iconFallbackText: "Warning"
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "The directors understand that they are responsible for ensuring all interested parties are notified.",
        isPageHeading: false,
        classes: "govuk-visually-hidden"
      }
    },

    items: [
      {
        value: "farm",
        text: "The directors understand that they are responsible for ensuring all interested parties are notified."
      }
    ]
  }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          href: "which-company-to-close"
        }) }}
      </div>
    </div>
  </main>

{% endblock %}