{% extends "layout.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

<!--service names are not currently shown on CH sign in-->
{% set serviceName %}
{% endset%}

{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/which-company-to-close" method="get">

          <h1 class="govuk-heading-xl">Sign in to Companies House</h1>
          <div class="govuk-form-group">
            <label class="govuk-label" for="signin-email">
              Email address

            </label>
            <input class="govuk-input  govuk-!-width-three-quarters" id="signin-email" name="signin-email" type="email" value="">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="signin-password">
              Password

            </label>
            <input class="govuk-input  govuk-!-width-three-quarters" id="signin-password" name="password" type="password" value="">
          </div>
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
          text: "Sign in"
        }) }}
        </form>
        <p>
          <a href="register">Register</a>
        </p>
        <p>
          <a href="password-reminder">Forgotten your password?</a>
        </p>

      </div>

    </div>
  </div>

</main>

{% endblock %}