{% extends "layout.html" %}

{% block pageTitle %}
  Submission complete
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application received
          </h1>
          <div class="govuk-panel__body">
            Application reference<br>
            <strong>07253459
            </strong>
          </div>
        </div>

        <p>We will email you within 2 working days to let you know if the application has been accepted or rejected.
        </p>
        <h2 class="govuk-heading-m">What to do next</h2>

        <p>You must inform all directors or members that the application has been submitted, including those who signed it.</p>
        <p><a href="https://coredbeta-coredev.cs83.force.com/servlet/servlet.FileDownload?file=00P4E000003jorEUAQ" target="_blank">Download the signed copy of the application (PDF 238Kb) (opens in a new tab)</a>. The directors or members must now give this copy of the application to all interested parties within 7 days.
<p>Read the
          <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#who-to-tell-about-the-strike-off-application" target="_blank">
            full list of parties you must tell about the company closing (opens in a new tab)</a>.
        </p>
        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: "It is a criminal offence not to tell all interested parties.",
          iconFallbackText: "Warning"
        }) }}

        <h2 class="govuk-heading-m">If you no longer want to close the company</h2>
        <p>You should
          <a href="" target="_blank">cancel this application to close the company (opens in a new tab)</a>
          as soon as possible.</p>
        <p>You cannot cancel your application if we have already processed and accepted it.</p>
        <p>
          <a href="/emails/sole-director-submission-confirmation.html" style="color: #b1b4b6; float: right;">Link to email</a>
        </p>
      </div>

    </div>

  </main>

{% endblock %}
