{% extends "layout.html" %}

{% block pageTitle %}
  Submission complete
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
{% endblock %}
{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application received
          </h1>
          <div class="govuk-panel__body">
            Application reference<br>
            <strong>07253459
            </strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We will email you within 2 working days to confirm acceptance or rejection of this application.
        </p>
        <p>
          <a href="https://coredbeta-coredev.cs83.force.com/servlet/servlet.FileDownload?file=00P4E000003jorEUAQ" target="_blank">Download a copy of the application (PDF 238Kb)</a>
        </p>

        <p>The director(s) must give a copy of the application to all interested parties within 7 days of it being submitted.
          <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration#who-to-tell-about-the-strike-off-application" target="_blank">Read the full list of who to tell.</a>
        </p>
        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: "It is a criminal offence not to tell all interested parties.",
          iconFallbackText: "Warning"
        }) }}

        <h2 class="govuk-heading-m">If you want to cancel this application</h2>
        <p>
          <a href="">Cancel this application</a>
          to close A TEST COMPANY LIMITED.</p>
      </div>

    </div>

  </main>

{% endblock %}